<h1 class="text-center mb-4">New</h1>
<div class="container text-center mb-4">
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, :collection => %w[chinese italian japanese french belgian] %>
    <%= f.input :phone_number %>
    <%= f.submit %>
  <% end %>
</div>
<div class="text-center">
  <%= link_to "Back", restaurants_path, class: "btn btn-secondary" %>
</div>
