<h1 class="text-center">Create review</h1>
<div class="container text-center mb-4">
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>
<div class="text-center">
  <%= link_to "Back", restaurant_path(@restaurant), class: "btn btn-secondary me-3" %>
  <%= link_to "Homepage", restaurants_path, class: "btn btn-secondary" %>
</div>
